/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

a{
    text-decoration: none !important;
}

/*Email And Password Inputs*/
.email{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    border: none;
    outline: none;
}

.password{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    border: none;
    outline: none;
}
/*For Inputs*/

/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    /*Image Upload Page*/
    .imgUpload{
        position:fixed; top: 40%;
		left: 45%;
		margin-top: -100px;
		margin-left: -100px;
    }
    /**/

/*Upload Button*/
.uploadBtn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/**/

/*Image Title Input*/
.title{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
/**/

/*Image Table*/
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

.imagesContainer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 4px;
  margin-left: 4px;
  border: 2px solid #808080;
}
/**/


/*image table*/
.editBtn{
    background-color: #0094ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}

.deleteBtn{
    background-color: #e80c4d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}
.posted-img{
    width: 200px;
}
/**/

/*Image Edit Page*/
.eTitle{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.save{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.cancel{
  background-color: #555;
  border: none;
  color: white;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.editPosted-img{
    height:400px;
}

.editPage{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 2%;
}

.confirmDelete{
    background-color: #e80c4d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}

.dismissBtn{
  background-color: #555;
  border: none;
  color: white;
  padding: 15px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 165px;
}
/**/

/*Services Page*/
.addServiceBtn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    width: 165px;
}
.servicesPage{
    margin: auto;
    width: 24%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 4%;
}

.serviceTitle{
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
}

.srvcEditBtn{
    background-color: #0094ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}

.srvcDeleteBtn{
    background-color: #e80c4d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}
/**/

/*services table*/
.servicesContainer{
      padding-right: 15px;
      padding-left: 15px;
      margin-right: 4px;
      margin-left: 4px;
      border: 2px solid #808080;
}

.confirmDeleteService{
    background-color: #e80c4d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}

.cancelserviceDelete{
  background-color: #555;
  border: none;
  color: white;
  padding: 15px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 165px;
}
/**/

/*Edit Services Page*/
.editServicesPage{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 2%;
}
.eServiceTitle{
    width: 100%;
    padding: 12px 11px;
    margin: 8px 0;
    box-sizing: border-box;
}
.updateServices{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.cancelServices{
  background-color: #555;
  border: none;
  color: white;
  padding: 15px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

/**/

/*Social Links Table*/
.socEditBtn{
    background-color: #0094ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 165px;
}
/**/

/*Add Social Links Page*/
.socialLinksContainer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 5px;
  border: 2px solid #808080;
}
.socialLinksPage{
    margin: auto;
    width: 45%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 2%;
}

.socialLinkName{
    width: 100%;
    padding: 12px 11px;
    margin: 8px 2px;
    box-sizing: border-box;
}

.socLink{
    width: 100%;
    padding: 12px 11px;
    margin: 8px 2px;
    box-sizing: border-box;
}

.addSocLinks{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.cancelSocialLinks{
  background-color: #555;
  border: none;
  color: white;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.addsoclinkstxt{
    margin: auto;
    width: 44%;
    margin-top: 4%;
}
/**/

/*Edit Social Links Page*/
.editSocialLinkPage{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 2%;
}
.socialLinkTitle{
    width: 100%;
    padding: 12px 11px;
    margin: 8px 0;
    box-sizing: border-box;
}

.SocialLinks{
    width: 100%;
    padding: 12px 11px;
    margin: 8px 0;
    box-sizing: border-box;
}

.updateSocLink{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.cancelSocLink{
  background-color: #555;
  border: none;
  color: white;
  padding: 15px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}
/**/