@model VintageCars.Models.Login
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>

    <!--background-->
    <h1>Admin</h1>
    <!-- Main-Content -->
    <div class="main-w3layouts-form">
        <h2>Login To Admin Panel</h2>
        <form action="" method="post">
            <div class="fields-w3-agileits">
                <span class="fa fa-user" aria-hidden="true"></span>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "email" } })
            </div>
            <div style="margin-top:-17px;" class="errorMessage">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="fields-w3-agileits">
                <span class="fa fa-key" aria-hidden="true"></span>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "password" } })
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <div style="margin-top:25px"></div>
            <input class="login" type="submit" value="Login" />
        </form>
    </div>

